{% extends 'base.html' %}
{% block content %}
<div class="container">
    <ul>
        {% for account in accounts %}
        <li style="margin-bottom: 35px">
            <strong>Логин:</strong> {{ account['Login'] }}<br>
                <form method="post" action="/users/accounts/{{ account['ID'] }}/switch" style="display: inline-block;">
                    <button type="submit" class="select-button">Выбрать</button>
                </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}