{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="menu">
        <div class="write-letter">
        <a class="write-button" href="/pages/write-email">Написать письмо</a>
    </div>
        <a class="button" href="/pages/base?folder=INBOX">Входящие</a>
        <a class="button" href="/pages/base?folder=SentBox">Отправленные</a>
        <a class="button" href="/pages/base?folder=Spam">Спам</a>
        <a class="button" href="/pages/base?folder=DraftBox">Черновики</a>
        <a class="button" href="/pages/base?folder=Trash">Корзина</a>
    </div>
    <div class="content">
        <ul>
            {% for mail in emails %}
            <li style="margin-bottom: 35px">
                <strong>От:</strong> {{ mail['From'] }}<br>
                <p><strong>Тема:</strong> {{ mail['Subject'] }}<br></p>
                <form method="get" action="read-email/{{mail['Folder']}}%{{mail['Message-ID']}}" style="display: inline-block; margin-right: 10px;">
                    <button type="submit">Прочитать</button>
                </form>
                <form method="post" action="/delete-email/{{ mail['Message-ID'] }}/{{ mail['Folder'] }}" style="display: inline-block;">
                    <button type="submit" class="delete-button">Удалить</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
