{% extends 'base.html' %}
{% block content %}
<h1>Отправка Email</h1>
    <form action="/send-email" method="post" enctype="multipart/form-data">
        <label for="receiver">Получатель:</label>
        <input type="email" name="receiver" required><br>

        <label for="mail_subject">Тема:</label>
        <input type="text" name="mail_subject"><br>

        <label for="mail_text">Текст:</label><br>
        <textarea name="mail_text" rows="5" cols="40"></textarea><br>

        <label for="file">Прикрепить файл:</label>
        <input type="file" name="file"><br>

        <input type="checkbox" name="cipher" id="cipher">
        <label for="cipher">Шифрование</label><br>

        <input type="submit" value="Отправить Email">
    </form>
{% endblock content %}